body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    border: 2px solid #008080;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

#startButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
}

#heartRateDisplay {
    margin-top: 20px;
    font-size: 24px;
    color: #008000;
}

#resultDisplay {
    margin-top: 10px;
    font-size: 20px;
    color: #ff4500;
}
